<blockquote class="blockquote email-homeowner">
  <p><b>From:&nbsp;</b> Nick  </br>
  <b>Sent:&nbsp;</b> Saturday July 16, 2016 1:17 PM </br>
  <b>To:&nbsp;</b> Barry Wilson @ Wilson Home Improvements  </br>
  <b>CC:&nbsp;</b> Shiela &  undisclosed  </br>
  <b>Subject:&nbsp;</b>  RE: Wilson Home Improvements - Dismissal Letter - Correspondence  </p>

<p>Dear Barry,</p>

<p>Sheila and I expected the "let's sit and talk" reaction two weeks ago when you received our dismissal letter.</p>

<p>I hate to assume, but I think at this point your non response to own up or clarify the GFY statement would mean you did
not mean Good For You and more like Go F*ck Yourself. Barry, it doesn't sound like the words of someone who is really
concerned for the-welfare of me and my girls.</p>

<p>My father, and Mel brought questions to us about the project all the time, "why isn't the AC in yet?", "are the guys
working today?.", "When was the last time Barry was at the house?", "What's happening with the cabinets?", and many
more. Everyone knew you were busy with other jobs but not hearing from you just got so frustrating. I did not push you
too hard for answers because as long as the work was getting done I did not want to make waves. When I realized that
you are incapable of doing the work that you sold us on, we decided it's best to just get WHI done with at least most of
what was discussed in the details of this project. I really did not want to make waves, I just wanted you to finish at least
the cabinets, and get you out of my house.</p>

<p>I do not believe we are your first customer to have similar issues with you in business. I should have know better than to
give you the opportunity, so Let me first explain why I chose to do business with you. In life I live by a very simple set of
rules. A lesson that came from my grandfather in short was to treat the janitor with the same respect as the CEO. My
adult translation of this lesson, and a huge reason for my growth in business is to always give everyone an opportunity
to prove themselves to me. In other words if I hear anything negative about a certain individual or business it will not
affect my dealing with them, I give all an opportunity to be friendly with, do business with, etc.. I would not have made
it this far in life or business if it were not for making this one of my core values.</p>

<p>You were not the least expensive when we agreed to the budget for this project. But you were close enough to another
written estimate that came in from a very good contractor.</p>

<p>We spoke at length about what was to be accomplished as you walk down the stairs, how I wanted to put up pictures of
family and how important family is etc..</p>

<p>When we told you that our budget was     for the whole basement you said we could get close but would
be the absolute cap for the entire project. I can share with you all the costs I covered and to save money I did the
electric and framed out the whole basement.</p>

<p>When you started the project, your guys did great work on the floor and tile install (all of which I paid for). The trim work
for a basement was fine. Those two guys are great people and did great work.</p>

<p>In November, you told us that you and your crew would be in and out in a month, 2 months tops. We hoped by Jan,
then Easter and then Summer.</p>

<p>You were going to install the A/C unit and you were the one who told me about the pre-charge of gas and that "oh
yeah, we do that all the time". After the initial cabinet incident you told Sheila "Yeah I got a guy for Nick to hire for that."</p>

<p>The girls desks - you were going to build them to be separated with draws under the window. We talked about doing it
similar to your desk in your basement.</p>

<p>The steam unit in the shower you agreed to get the unit. I was going to run the electric. You stated on multiple
occasionslinyouwexe,",pickipg it up tomorrow."</p>

<p>You were to install a built in seat in the shower — I came home from work one day and you guys just went ahead and
finished the tile work in the bathroom and never built the seat as discussed at great length and you saw pictures for
examples. When I asked you about it you said "Oh no, its better for you to just get a teak seat." Instead of deciding this
for us and finishing the shower without it, this should have been discussed with myself or Sheila.</p>

<p>The chair rail was to go all the way up the stairs - this was never done. You just let it die out into the trim at the bottom
of the stairs. Not what we discussed, not what we showed you many examples of.</p>

<p>The railing miter joints on the stairs are so bad that literally my kids could have cut them better. The gaps are so big that
you could drop a butter knife right down the gaps.</p>

<p>When you did the crown, you told me your plan to go straight over the window openings. I told you sure that's fine, as
long as the windows open. Guess what doesn't open anymore.... You guessed it, the widows. They hit the crown when
you try to open them.</p>

<p>The railing sticks over 9" from the transition from the upper part to the lower part of the railing. You would be the first
person to pick apart this work should it have been done by a different contractor.</p>

<p>The French door at the top of the stairs is ruined, and will need to be replaced. It was installed, mistakes were made by
you and covered up with wood putty, then you painted over it. This is not something that is unfinished, the paint shows
us this is how you intended to leave the door.</p>

<p>The basement back door the hardware is incomplete, and you never secured the bottom portion of the handle to the
door.</p>

<p>You got grout all over the first 6' of my pool decking. It looks horrible and there is nothing I can do to get it off.</p>

<p>My office — Where do I even begin here..??? When we agreed to do this project you sold me on the fact that you would
close out the door in the rear, build custom file cabinets for my business needs, and build-in desk for work. A HUGE red
flag went up with this one. For the record nothing has happened in this room at all... A few months ago you started to
back off what was promised, and you told me to go buy a file cabinet from Staples and you would make a pull open door
to create a closet for my file cabinet. This was the day I realized that you are incapable of doing what you promised. I
was willing to still pay you to do everything else and I was going to hire another contractor to finish and do my office the
right way. I was willing to do this just get you out of my house. 1 figured just let WHI finish the cabinets. Sheila and I
discussed that, it was not in our wildest dreams that you could not handle that. We have seen the work that you are
capable of. But what you did in regard to the cabinet is absolutely unforgivable and total unprofessional.</p>

<p>So lets talk about the cabinet situation. This is the main reason that I can no longer allow Wilson Home Improvements
to work here any longer. Let me be very clear about this, I know EXACTLY what happened, I knew exactly what you did
the minute you received the txt from Sheila. We gave you about 5 different opportunities to be honest with us, instead
what you did was:</p>

<ol>
  <li>Say that "the cabinet order was mixed material and there is a re-coat and touch up process expected in custom installs".</li>
  <li> Then when i questioned that, it was a mistake from Conestoga the custom cabinet maker and "happens  all the time."</li>
  <li> Then when I made it clear that I wasn't buying your lie, I asked you to save the cabinet and leave it at my  house. I told you that I was going to personally return it to Conastoga. You claimed that " You do too much
      business with Conastoga for them to take returns". So I told you to leave the cabinet at my house and that I
      would personally return it. A few hours later you sent me a picture of it thrown away in a dumpster.</li>
  <li>You also tried to blame me via txt for pushing on the cabinet and the reality is far from that. It was not
      glued as you claimed, it was so obviously butchered up and the entire face of the cabinet was redone from your
      attempt to repair it up, and pass it as new.</li>
  <li>You then said you would order another cabinet because Sheila was adamant about replacing it and did
      not want to hear what you had to say. No Barry, you were yelling at her, and got quite loud about it, then you
      were talking down to her as if she was stupid, in your attempt to cover your lie about the cabinet. What
      happened was we had enough of the lies, and didn't want to hear the excuses anymore.</li>
  </ol>

<p>The fact that you used finish nails on the outside of the finished cabinet is a joke. I can not believe the amount of LABOR
you waisted on trying to rig this thing in. Truly mind blowing.. The chip marks on the maple from when you ripped the
cabinet to make it smaller was a nice touch, truly sad. I have a video of the cabinet situation, against my better
judgement Sheila has convinced me not to attach that video to this email at this point. But for the record for everyone
else, Barry measured the cabinet wrong. Because of this he put the rest of the cabinets in the wrong places. He did this
to try and make the cabinet he ordered wrong, fit in place somehow. When he realized what he did, he took the cabinet
home or off-site and attempted to remanufacture the cabinet by cutting off about 3" from one side of it. I could get into
more details but I don't think it's needed. The bottom line on the cabinet situation is I must now purchase another 3
cabinets to fix what Barry did. We need to cross our fingers that we can work with the other cabinets that are installed
in the wrong places to finish this project. The lengths of which you went to cover this mistake you made up, really speak
to your character.</p>

<p>Finally there is the money situation. I know that you are selling this situation to your family that this is all about money.
Let me be extremely clear here. This decision from Sheila and myself is 100% based on WHI's quality of workmanship,
and has NOTHING to do with MONEY. If you are owed one dime I will pay it. Your argument of hitting me up with an out
of the blue announcement that I owe you  after my payment of      in CASH, is a joke. Since we are
having an adult conversation in this open email, I invite you to break down exactly what I owe you. I will gladly respond
with a rebuttal, but know that I will do what I need to do to justify my overpayment to you for what has been
accomplished through WHI. </p>

<p>Upon your response to this email please answer the following:</p>
<ul>
  <li>If you did not want to do this project, then why not just tell us?</li>
<li>If it would be weeks before you could return to complete things why didn't you let us know?</li>
<li>If we were going to be over the budget agreed to, why didn't you tell us as we went along?</li>
<li>When you installed the cabinet why not tell us it's the wrong one and measured wrong?</li>
<li> Did you use and break one of my dewalt batteries? </li>
<li>And did you put the white extension cord back in my office the last day you were here? This was the day you
took the cabinet out.</li>
<li>Also answer this, do you think that anyone (don't assume me) would do business with a contractor who has
quoted a job at more than 100% price difference from 2 other written quotes?</li>
</ul>

<p>This is how Sheila and I feel. And when we started this 9 months ago, this is not how we expected it to end. And as a
person who really values honesty, I can't believe that I have to put you in the list of people that I can no longer trust.</p>

<p>Again, against my better judgement, I have been asked not include pictures or any videos to this email. I will use them if
I must in future correspondence. However, I will always have the videos and pictures available if you would like to see
them let me know and I will add them as an attachment to this email.</p>

<p>Stilt Heartbroken,<br>
Nick and Shell<br>
BCc: Undisclosed Recipients</p>
</blockquote>
