<blockquote class="blockquote email-contractor">

  <p><b>From:&nbsp;</b> Barry Wilson @ Wilson Home Improvements  </br>
  <b>Sent:&nbsp;</b> Tuesday, July 12, 2016 8:54 AM </br>
  <b>To:&nbsp;</b>  Nick </br>
  <b>CC:&nbsp;</b>   </br>
  <b>Subject:&nbsp;</b>Lets get together   </p>

<p>Hi Nick,</p>
<p>I am not willing to allow the current path we are heading down without having a face to face with you. The business
conducted between us can not become the reason for division. I think you can see that as clearly as I do. There is
nothing that can't be discussed and worked out at this time. I have always been open to you, concerned for your welfare
and remain that way.
</p>
<p>
I care about you guys and the girls. Give me a call to see where I am if you can do this today. If not plan for later in the
week. Tomorrow is the only day that is difficult.
</p>
<p>
You should answer me with your intentions either way.
</p>
</blockquote>
