<blockquote class="blockquote email-homeowner wow fadeInLeft" data-wow-delay=".3s">


  <p><b>From:&nbsp;</b>Nick </br>
  <b>Sent:&nbsp;</b> Saturday, June 25, 2016 11:03 AM  </br>
  <b>To:&nbsp;</b> Barry Wilson @ Wilson Home Improvements  </br>
  <b>CC:&nbsp;</b> Shiela  </br>
  <b>Subject:&nbsp;</b>Wilson Home Improvements - Dismissal Letter - Correspondence  </p>

<p>6/25/16 </p>
<p>Barry,</p>

<p>At 9:58am today I got your txt message that reads "Get whats due me together or GFY.". Since our dismissal letter to
Willson Home Improvements was delivered today at 9:52am I would assume that you are responding to that
letter. Please let me remind you that I specifically asked that all communication be in email. I will not respond to txt's
or anything verbally.</p>

<p>For the sake of a paper trail and time stamping, a copy of the letter you received certified mail is attached to this email
and I will paste a copy of it below.</p>

<p>So let's go back to your response of "Get whats due me together or GFY.". Before I can properly respond to such a
statement I would need to know what you mean by GFY. The only thing I can think of for the meaning of that is
something vulgar, and I am not sure if that is what you meant. If it has other meaning please let me know ASAP. 1 will
prepare a rebuttal as soon as I understand what you meant in the txt.</p>

<p>
Thank You, </br>
Nick</p>
</blockquote>
