<blockquote class="blockquote email-homeowner">

  <p><b>From:&nbsp;</b>Nic </br>
  <b>Sent:&nbsp;</b> June 22, 2016 </br>
  <b>To:&nbsp;</b> Barry Wilson @ Wilson Home Improvements  </br>
  <b>CC:&nbsp;</b>   </br>
  <b>Subject:&nbsp;</b>Wilson Home Improvements - Dismissal Letter - Correspondence </p>

<p>June 22, 2016</p>

<p>Wilson Home Improvements<br>
25 Rockaway Ave<br>
Oakland, NJ 07436<br>
<br>
Dear Barry,<br>
</p>
<p>
I am writing this to inform Wilson Home Improvements (WHI) that we will be going a different
direction for the completion of the basement project at our house. This decision does not come without
extreme heartache from both myself and Sheila. I have lost sleep since the night of 6/16/16 when the
cabinets were installed, the door was put in and the railing was installed. Everything (on 6/16/16) that
was performed was not even remotely close to the standard of craftsmanship that I have seen from WHI
or its subcontractors in the past. It is clear that for whatever the reason is, WHI is just not into the vision
we shared in November when we discussed the details and value of this project.
</p>

<p>This decision is final.</p>

<p>If WHI plans to make any rebuttal to this letter, I must insist that it be through email or standard
mailing through the postal system. This is not a matter that I am willing to discuss verbally. In the
event that I must get into detail (for which I am prepared to do), I am unwilling to allow dialogue or
facts be miscommunicated to anyone.
</p>

<p>
Truly Heartbroken,
</p>
<p>
Nic
</p>
</blockquote>
