<blockquote class="blockquote email-homeowner">

<p><b>From:&nbsp;</b> Nick  </br>
<b>Sent:&nbsp;</b> September 9, 2016 8:19 PM </br>
<b>To:&nbsp;</b> Barry Wilson @ Wilson Home Improvements  </br>
<b>CC:&nbsp;</b> Undisclosed  </br>
<b>Subject:&nbsp;</b> RE: Wilson Home Improvements - Dismissal Letter - Correspondence   </p>

<p>Barry and Undisclosed Recipients:</p>

<p>It is great to finally get a response from you on this matter. (below is a copy of your email, and as promised all of the
other correspondence so far with you) I was planning on simply sending you a copy of the invoice of what you will owe
us for the work that needed to be redone in our basement from our agreement. However this email makes me
understand that I must and will plan to recover our losses from Wilson Home Improvements with the help of legal
council. The complaint will also include expenses incurred for the personal and professional time lost due to your greed
and neglect. I will also now explore the possibility of a criminal complaint for the damage you caused to my office, and
tangible property. I will be showing the video to the Y police department to see if it is enough evidence to file
a complaint against you.</p>

<p>We are ready to defend our position and look forward to the opportunity in court, nothing will be more satisfying to me
personally than to defend our claims against you. Unlike you and the fraud you are, I have never had to deal with a
situation like this. So I have not yet asked counsel about this situation, but my hopes are that we can get all of the
transcripts from our pending litigation so that I can then share that with all of you reading this.</p>

<p>Please note that your invoice will be ignored, you were already paid what we agreed upon to do this job in full.</p>

<p>GFY<br>
-Nick
</blockquote>
