<blockquote class="blockquote email-contractor wow fadeInRight" data-wow-delay=".3s">

<p><b>From:&nbsp;</b>  Barry Wilson @ Wilson Home Improvements </br>
<b>Sent:&nbsp;</b> Nick </br>
<b>To:&nbsp;</b> Friday, September 9, 2016 7:35 PM  </br>
<b>CC:&nbsp;</b>   </br>
<b>Subject:&nbsp;</b> Notice of Pending legal filings  </p>


<p>Nicholas</p>

<p>RE: refusal to discuss project balance due.</p>

<p>After some careful consideration, review of your correspondence, a discussion with counsel and gaining input
  from my family members I have decided to move forward with the appropriate response to your certified
  mailing. You will receivet by regular, registered and certified mail a copy of your invoice, pertinent information
  regarding our originally teed to scope of work, labor and materials provided and paid, deposits you have
  provided and a demand letter allowing you (10) ten days to rectify your decision to withhold the balance due me
  for the labor and materials provided you.</p>

<p>I have asked counsel to consider filing a criminal complaint followed by a civil filing that will include all
  lawyers fees and expenses incurred for personal and professional time lost to pursue these actions. During this
  time a lien will be placed on your home to help guarantee remittance of all balances due.
  1 have always been and still remain open to dialog that can avoid all of this. You have left me no other option.
</p>
</blockquote>
