<%-include('../shared/_header.ejs' ); %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Administer Comments</h3>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/admin/comments?isApproved=true" class="btn-xs btn btn-success">Approved</a>
      <a href="/admin/comments?isApproved=false" class="btn-xs btn btn-success">Pending</a>
      <a href="/admin/comments?isDeleted=true" class="btn-xs btn btn-success">Deleted</a>
      <h3>Viewing:
      <% if(query.isApproved == 'true'){ %>
        Approved
      <% } %>
      <% if(query.isApproved == 'false'){ %>
        Pending
      <% } %>
      <% if(query.isDeleted == 'true'){ %>
        Deleted
      <% } %>
       Comments </h3>
    </div>
  </div>
</div>



<% if(comments) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%-include('../comments/_commentsList', {comments:comments, user:user}) %>
      </div>
    </div>
  </div>
<% }%>

<%-include('../shared/_footer.ejs', {user:user}); %>
