<h4> Wilson Home Improvements, and Barry Wilson have worked overtime to block any reviews that my wife and I have taken the time to post on social media review sites. </h4>
<h4>I noticed that it is not just us, they work full time to manage and remove any reviews. I have personally spoken to other victims of this man, and can’t warn you enough about the ride that this fraudulent contractor will take you on. </h4>
  <h4>I would go on, but the trail of emails below will be sufficient to help you not make the same mistake that we did in trusting Barry Wilson. Feel free to submit a comment in the comments section of this page.  </h4>
